body {
    --text : rgba(245, 245, 245, 0.75);
    --translucent-text : rgba(245, 245, 245, 0.5);
    --transparent : rgba(0, 0, 0, 0);
    --light-background : rgba(0, 0, 0, 0.7);
    --dark-background : rgba(0, 0, 0, 0.8);
    --dim-highlight : rgba(245, 245, 245, 0.2);
    --bright-highlight : rgba(245, 245, 245, 0.5);
}

p,h1,h2,h3,a,label {
    color: var(--text);
}

/* nav bar */
#nav-bar {
    background-color: var(--dark-background);
}

.nb-title {
    color: var(--translucent-text);
}

/* buttons */
button,.button {
    color: var(--translucent-text);
    background-color: var(--transparent);
    border: 1px solid var(--dim-highlight);
}

button:hover,.button:hover,.selected {
    color: var(--text);
    background-color: var(--dim-highlight);
    border: 1px solid var(--transparent);
}

/* input boxes */
.input {
    color: var(--text);
    background-color: var(--transparent);
    border: 1px solid var(--dim-highlight);
}

/* screens */
.screen {
    background-color: var(--dark-background);
}

/* input boxes */
select {
    color: var(--text);
    background-color: var(--transparent);
    border: 1px solid var(--text);
}
