/* home screen */
#home-screen {
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--transparent);
}

#home-screen button {
    display: block;
    width: 100%;
    border-radius: 0;
    margin: 10px 0;
    box-sizing: border-box;
}

#home-screen .home-header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-background);
}

#home-screen .credits {
    align-self: flex-start;
    margin-top: auto;
    color: var(--translucent-text);
}

/* randomizer screen */
#randomize-data {
    overflow-y: scroll;
}

.randomize-settings {
    width: 300px;
    align-items: center;
}

.randomize-settings p {
    align-self: center;
}

.randomize-settings div {
    width: 100%;
    box-sizing: border-box;
}

.randomize-settings button,#b-count {
    /* stretch buttons to the size of the container */
    width: auto;
}

.randomize-settings .button-container {
    justify-content: center;
}

.weapon-button.have > img {
    filter: sepia(500) saturate(5);
}

#randomize-profiles > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

#randomize-profiles label {
    width: 37px;
}

#pVisuals {
    margin-left: auto;
    margin-right: auto;
}

#pVisuals > div {
    /* each character div */
    margin: 10px;
    margin-right: 20px;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
}

#pVisuals > div > img {
    /* player image */
    width: 200px;
    /* height: 640px; */
}

.element-button img {
    width: 30px;
}

.element-button {
    padding: 5px;
    height: 41px;
    border: 1px solid var(--transparent);
}

.cDataDiv {
    /* character info div */
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cDataDiv-characterName {
    margin: 0;
    margin-top: auto;
}

.cDataDiv p:not(.cDataDiv-characterName) {
    margin: 10px 0;
}

.cDataDiv p {
    /* player/character name */
    font-size: 24px;
    writing-mode: vertical-rl;
}

.cDataDiv img {
    /* character element */
    width: 40px;
}

#bVisuals {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    overflow-y: hidden;
}

#b-imgs {
    width: 600px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#b-imgs img {
    width: 600px;
}

#b-imgs img:not(.current-boss) {
    display: none;
}

#b-prev,#b-next {
    height: 100px;
}

/* profile screen */

.card img {
    width: 150px;
}

.character img,.weapon-button img,.element-button img {
    /* default is don't have */
    filter: opacity(30%);
}

.have img,.weapon-button.ban img {
    filter: opacity(100%);
}

.ban img {
    filter: grayscale(100%);
}

.card {
    height: fit-content;
    border: 1px solid var(--transparent);
    flex-direction: column-reverse;
}

.character-container {
    flex-wrap: wrap;
    height: 100%;
}

#editing-profiles {
    margin-top: 25px;
}

#editing-profiles button {
    width: auto;
}

#profile-name {
    text-align: center;
}

#profile-pfp {
    height: 200px;
}

#profile-screen .swap-info {
    margin-left: 50px;
    align-items: center;
}

#profile-screen .swap-info div {
    align-items: center;
}

#profile-screen .swap-info img {
    width: 100px;
}

/* about page */

#about-screen h2 {
    margin-top: 30px;
}
