/* font found from online */
@font-face {
    font-family: 'genshinFont';
    src: url('../images/zh-cn.ttf') format('truetype');
}

/* main */
html {
    font-family: 'genshinFont';
}

p,label {
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

body {
    margin: 0;
    background-image: url('../images/bg.jpeg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the div to fill the viewport */
    width: 100vw;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.row-div {
    display: flex;
    flex-direction: row;
}

.col-div {
    display: flex;
    flex-direction: column;
}

/* screens */
.screen {
    display: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* to avoid nav bar */
    padding: 20px;
    overflow-y: scroll;
    padding-top: 80px;
}

.current-screen {
    display: flex;
}

/* nav bar */
#nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.nb-button {
    border: 1px solid var(--transparent);
}

.nb-primo {
    width: 60px;
    height: auto;
    opacity: 70%;
}

.nb-title {
    margin-left: auto;
    margin-right: 5px;
}

/* buttons */
button,.button {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
}

.button-container {
    margin: 10px 0;
}

/* input boxes */
select {
    border-radius: 10px;
    margin-left: 7px;
    min-width: 100px;
    height: 40px;
}

/* messages */
.message {
    margin: 0;
}

/* other */
.hidden {
    display: none;
}
