html {
  height: 100%;
  width: 100%;
  font-family: 'Quicksand';
}

/* style the title */
.header {
  text-align: center;
  color: darkcyan;
  font-size: 30px;
}

/* style the buttons */
.choices {
  display: flex;
  color: darkcyan;
  font-size: 20px;
}

/* making it into two columns*/
.column {
  flex: 50%;
}
