.container {
  background-color: rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 36px;
  color: whitesmoke;
  margin: 10px;
}

h2 {
  font-size: 24px;
  color: rgba(245, 245, 245, 0.8);
  margin: 20px;
}

p {
  font-size: 20px;
  color: rgba(245, 245, 245, 0.8);
  margin: 15px 30px;
}


