/* font found from online */
@font-face {
  font-family: 'genshinFont';
  src: url(../images/zh-cn.ttf) format('truetype');
}

html {
  font-family: 'genshinFont';
  font-size: 1vw;
}

body {
  margin: 0;
  padding: 10px;
  background-image: url('../images/bg.jpeg');
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the div to fill the viewport */
  width: 100vw;
  background-size: cover;
  background-position: center;
  box-sizing: border-box; /* Include padding in the width calculation */
}

h1{
  color: whitesmoke;
  font-size: 2.5vw;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  margin-left: 0.5vw;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.7vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Include padding in the width calculation */
  overflow-y: auto;  /* make container content scrollable */
}


/* nav bar */
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4vw;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.navBar img {
  height: 3vw;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}



/* buttons */
.buttonContainer {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* in case of text in div */
  align-items: center;
  text-align: left;
  color: whitesmoke;
}

.button {
  border-radius: 0.5vw;
  text-align: center;
  padding: 0.5vw;
  margin: 0.3vw 0.15vw;
}

.button:hover {
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.7);
}

.buttonOFF {
  color: rgba(245, 245, 245, 0.7);
}

.buttonON {
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.5);
}


label {
  color: whitesmoke;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.message {
  color: rgba(245, 245, 245, 0.9);
}


/* dropdown */

.inputbox {
  font-family: genshinFont;
  font-size: 0.7vw;
  margin: 0 0.5vw 0 0;
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 0.5vw;
  background-color: transparent;
  color: whitesmoke;
  height: 2vw;
  width: auto;
  min-width: 4vw;
  padding: 0.5vw;
  box-sizing: border-box;
}

.inputbox::after { /* the triangle */
  content: '\25BC'; /* Unicode character for down triangle */
  color: rgba(245, 245, 245, 0.5);
  margin-left: 5px;
}
