/* font found from online */
@font-face {
    font-family: 'genshinFont';
    src: url(./images/zh-cn.ttf) format('truetype');
}
  
html {
    font-family: 'genshinFont';
}


/* the navigation bar */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    padding: 10px 13px;
    text-decoration: none;
    font-family: 'genshinFont';
}

.nav li a:hover {
    background-color: aliceblue;
}

/*
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }



/* class names as defined in profiles.js:
    main pictures list : list
    picture + name button : button
    picture : pfp
    profile name / character name : name
*/

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.name {
    text-align: center;
}
