/* font found from online */
@font-face {
    font-family: 'genshinFont';
    src: url(../images/zh-cn.ttf) format('truetype');
}
  
html {
  font-family: 'genshinFont';
}

body {
  margin: 0;
  background-image: url('../images/bg.jpeg');
  display: flex;
  height: 100vh; /* Set the height of the div to fill the viewport */
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.container {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
}

#message {
  color: rgba(245, 245, 245, 0.9);
}



/* profile lists */
.characterContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-wrap: wrap;
  height: 675px;
  overflow-y: auto;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.profile img {
  width: 200px;
  height: 200px;
}

.dontHave img {
  filter: opacity(30%);
}

.ban img {
  filter: grayscale(100%);
}




/* profile information */
#info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#pfp {
  width: 200px;
  height: 200px;
}

.nameContainer {
  display: grid;
  place-items: center;
}

.infoButtons {
  display: flex;
  flex-direction: column;
  align-content: center;
}
