/* class names as defined in profiles.js:
    main pictures list : list
    picture + name button : button
    picture : pfp
    profile name / character name : name
*/

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.name {
    text-align: center;
}
