/* font found from online */
@font-face {
  font-family: 'genshinFont';
  src: url(../images/zh-cn.ttf) format('truetype');
}

html {
  font-family: 'genshinFont';
}

body {
  margin: 0;
  padding: 10px;
  background-image: url('../images/bg.jpeg');
  display: flex;
  height: 100vh; /* Set the height of the div to fill the viewport */
  background-size: cover;
  background-position: center;
}

.randomizer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.randomizer p {
  color: whitesmoke;
  font-size: 36px;
  margin-left: 7px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 5px;
  /* background-color: cornflowerblue; */
}

/* player randomization */





/* boss randomization */
.bVSlider {
  color: aliceblue;
  border: 1px solid red;
}
